#navbar_container {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 10px;
}

#right_icons {
  display: flex;
  justify-content: center;
}
#image_icon {
  border: 1px solid black;
  padding: 10px;
}
#menu_icons {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 600;
}
#menu_icons p {
  cursor: pointer;
}
#menu_symbol {
  display: none;
}
#left_icons {
  display: flex;
  gap: 25px;
  margin-right: 20px;
  border: 1px solid black;
  align-items: center;
}
.button_login {
  padding: 0 20px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  font-weight: 600;
}
.button_login:hover {
  color: white;
  background-color: black;
}

.button_getapp {
  padding: 0 20px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: black;
  font-weight: 600;
}
.button_getapp:hover {
  background-color: white;
  color: black;
}

/* drop down menu features */

#dropdown_menu {
  display: flex;
  border: 1px solid red;
  padding: 0px 11%;
  gap: 13%;
  text-align: left;
  height: 450px;
  transition: 0.5s;
}

#dropdown_part1 p {
  font-size: 20px;
  font-weight: 600;
}

.stores {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.stores img {
  width: 50px;
}
.stores p {
  font-size: 20px;
  margin-left: 10px;
}
.category_store {
  font-size: 15px;
  font-weight: 500;
}
.category_text {
  font-size: 20px;
}

/* page responsiveness */

@media (max-width: 1024px) {
  #menu_icons {
    display: none;
  }

  #menu_symbol {
    display: block;
    font-size: 20px;
    font-weight: bolder;
  }

  .button_getapp {
    display: none;
  }
}
